body{
	padding-top: 70px;
}

.jumbotron{
	background: #cccc00;
	color: black;
}

img{
	width: 100%;
	height: 270px;
}

.navbar-inverse{
	background: #0a290a;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}
.row{
	padding-top: 2px;
	height: 270px;
}
.col-lg-4{
	padding: 4px;
}